h1 {
    color: ghostwhite;
    text-align: center;
    font-size: xx-large;
}
body {
    background-color: black;
}
img {
    width: 50%;
    height: 50%;
    display: inline;
}
#ini{
    border: 5px solid aquamarine ;
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    max-width: 100%;
}
.ini{
    border: 5px solid aqua;
    margin: 10px;
    width: 325px;
    min-height: 50%;
    height: 425px;
    min-height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
